{% extends 'core/base.html'%}
<!--HTML der Detailseite -->

{% block title %} {{item.name}} {%endblock%}


{%block content%}
<!--col-span wird verwendet, um die anzahl der spalten zu sagen, die belegt werden sollen-->
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{item.image.url}}" class="rounded-xl">
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl"> {{item.name}}</h1>
        <p class="text-gray-500"> <strong> Preis: </strong> {{item.price}} € </p>
        <p class="text-gray-500"> <strong> Verkäufer: </strong> {{item.created_by.username}} </p>
    {% if item.description %}
        <p class="text-gray-700 mb-9">
            <strong class="text-gray-500"> Beschreibung </strong><br>
            {{item.description}} </p>
    {% endif %}

    {%if request.user == item.created_by%}
            <div class='mt-6 p-6 bg-white rounded-xl'>
                <p> Das ist dein Artikel </p>
                <a href="{% url 'item:delete' item.id %}" class="inline-block px-6 py-5 bg-red-500 text-lg text-white rounded-lg hover:bg-red-700">Artikel löschen</a>
                <a href="#" class="inline-block px-6 py-5 bg-teal-500 text-lg text-white rounded-lg hover:bg-teal-700">Artikel bearbeiten</a>
            </div>
    {%else%}
            <a href="#" class="px-6 py-5 bg-teal-500 text-lg text-white rounded-lg hover:bg-teal-700">Verkäufer kontaktieren</a>
    {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center"> Verwandte Artikel </h2>

    <div class="grid grid-cols-3 gap-3">
        <!--Iteration durch die Items-->
        {% for item in related_items %}
        <div>
            <a href="{%url 'item:detail' item.id%}">
                <div>
                    <img src="{{item.image.url}}" class="rounded-t-xl">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl"> {{item.name}} </h2>
                    <p class="text-gray-500"> Price: {{item.price}}</p>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
</div>


{%endblock%}